<!-- <h1>This is the main component</h1>
<hr>
<app-second></app-second>
<hr>
<app-star></app-star>
<hr>
<app-like></app-like>
<hr> 
<div>
    <app-movie></app-movie>
</div>
<div>
    <app-movies></app-movies>
</div>
<div>
    <app-show-movie></app-show-movie>
</div>
<div class="productList">
    <app-products></app-products>
</div>
<div class="addProduct">
    <app-add-product></app-add-product>
</div>
<div class="cart">
    <app-cart></app-cart>
</div>
<app-rlogin></app-rlogin>-->
<app-selectmovie></app-selectmovie>
<hr><hr><hr>
<app-showmovies></app-showmovies>