@model FirstMVCApplication.Models.Employee
    @*This view is bound to this model*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*Once bound we can refferece it with the refference Model*@
<div>
    Employee Id : @Model.Id
    <br />
    Employee Name : @Model.Name
    <br />
    Employee Age : @Model.Age
    <br />
</div>
